[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "modules/viatordsp"]
	path = modules/viatordsp
	url = https://github.com/landonviator/viatordsp.git
